@charset "UTF-8"

* {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #007566, #a0dbcd);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #25463b;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #265C4B;
    text-align: center;
    text-shadow: 1px 1px 2px #25463bb0 ;
}

h2 {
    color: #265C4B;
    text-align: center;

}

p {
    color: #498a74;
    text-align: justify;
    text-align: center;
}